{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Sending Message</h1>
    <form method="post" action="{{ url_for('mail_push') }}">
        <div class="form-group">
            <label for="email">メールアドレス:</label>
            <input id="email" class="form-control" type="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="subject">タイトル:</label>
            <input id="subject" class="form-control" type="text" name="subject" required>
        </div>
        <div class="form-group">
            <label for="message">一言:</label>
            <input id="message" class="form-control" type="text" name="message" required>
        </div>
        <button type="submit" class="btn btn-primary">送信</button>
    </form>

    <a href="{{ url_for('mail_pull') }}">Pull all</a>
</div>
{% endblock %}